<%- include('./_config/_config'); %>
<% title = 'タイトル' %>
<% page = 'career' %>



<% if (!html) { %><?php get_header();?><% } else { %><%- include('./_layouts/header'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'header' ); ?><% } else { %><%- include('./components/content-header'); %><% } %>
<div class="l-layout__contentsTop">
    <div class="p-sub-mv">
        <h1>
            <span class="en">RECRUIT</span>
            <span class="ja">採用情報</span>
        </h1>
    </div>
</div>

<div class="l-layout__contents">
    <main class="l-layout__main">
        <section>
            <div class="career-list">
                <div class="career-list__inner c-inner--l">
                    <div class="career-list__title">
                        <h2 class="c-title2">現在募集中の職種</h2>
                    </div>
                    <div class="career-list__body">
                        <% if (!html) { %>
                            <?php
                            $args = array( 
                                'post_type' => 'recruit',
                                'post_status' => 'publish',
                            );
                            $the_query = new WP_Query($args); if($the_query->have_posts()):
                            ?>
                            <?php while ($the_query->have_posts()): $the_query->the_post(); ?>
                            <article class="p-career-item">
                                <div class="p-career-item__inner c-inner">
                                    <?php
                                    $title = get_field('title');
                                    if( $title ): ?>
                                    <div class="p-career-item__name">
                                        <div class="logo">
                                            <img src="<?php echo $title['logo']; ?>" alt="">
                                        </div>
                                        <div class="name">
                                            <div class="name__shokushu"><?php echo $title['shokushu']; ?></div>
                                            <div class="name__jigyobu"><?php echo $title['jigyobu']; ?></div>
                                        </div>
                                    </div>
                                    <?php endif; ?>
                                    <div class="p-career-item__txt">
                                        <?php the_field('body'); ?>
                                    </div>
                                    <div class="p-career-item__table">
                                        <?php
                                        $condition = get_field('condition');
                                        if( $condition ): ?>
                                        <table class="c-table c-table--vertical--sp">
                                            <tbody>
                                                <tr>
                                                    <th>募集の背景</th>
                                                    <td>
                                                        <?php echo $condition['background']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>仕事の内容</th>
                                                    <td>
                                                        <?php echo $condition['description']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>求める人材</th>
                                                    <td>
                                                        <?php echo $condition['jinzai']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>勤務地</th>
                                                    <td>
                                                        <?php echo $condition['place']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>勤務時間</th>
                                                    <td>
                                                        <?php echo $condition['time']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>給与</th>
                                                    <td>
                                                        <?php echo $condition['salary']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>昇給・賞与</th>
                                                    <td>
                                                        <?php echo $condition['bonus']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>諸手当</th>
                                                    <td>
                                                        <?php echo $condition['benefits']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>休日・休暇</th>
                                                    <td>
                                                        <?php echo $condition['dayoff']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>福利厚生</th>
                                                    <td>
                                                        <?php echo $condition['welfare']; ?>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>採用プロセス</th>
                                                    <td>
                                                        <?php echo $condition['process']; ?>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <?php endif; ?>
                                        <div class="p-career-item__btn">
                                            <div class="btn c-btn1 btn-11">
                                                <a href="<%- url %>/career_form"><span>この求人に応募する<i class="fas fa-chevron-right"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <?php endwhile; ?>
                            <?php wp_reset_postdata(); ?>
                            <?php else: ?>
                            <!-- 投稿が無い場合の処理 -->
                            <?php endif; ?>
                        <% } else { %>
                        <article class="p-career-item">
                            <div class="p-career-item__inner c-inner">
                                <div class="p-career-item__name">
                                    <div class="logo">
                                        <img src="<%- dir %>/assets/img/Group 76.png" alt="M＆Aコンサルタント">
                                    </div>
                                    <div class="name">
                                        <div class="name__shokushu">aaaコンサルタントa</div>
                                        <div class="name__jigyobu">事業部</div>
                                    </div>
                                </div>
                                <div class="p-career-item__txt">
                                    <img src="<%- dir %>/assets/img/career/career_thumb_advisory.png" alt="M＆Aコンサルタント">
                                    <h3>企業経営者とのやりとりの中で成長できる仕事です</h3>
                                    <p>M&Aという決断が企業を譲渡する側、譲受する側双方にとって満足がいくように、幸せになるように、そしてこれまで気づかなかった企業の個性やポテンシャル＝才能がさらに開花するように、良質なM&Aを組成していくのが私たちの役目です。</p>
                                    <p>大きなやりがいを実感しながら仕事に取り組むことができます。オーナー経営者とのやりとりの中で、真実の瞬間に立ち会えることがこの仕事の醍醐味です。</p>
                                </div>
                                <div class="p-career-item__table">
                                    <table class="c-table c-table--vertical--sp">
                                        <tbody>
                                            <tr>
                                                <th>募集の背景</th>
                                                <td>
                                                    新潟県内で、世代を越えた、人と事業のコーディネートを行っている当社。今回は、M&Aコンサルタントとして、事業成長を担える新しい仲間を募集します。<br>
                                                    <br>
                                                    事業継承に悩む地域の優良企業の課題を解決するソリューションを提供します。後継者不足で悩む経営者も多いです。M&Aの業務を通じて、企業と新潟の活性化に大きく貢献できる仕事です。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>仕事の内容</th>
                                                <td>
                                                    M&Aを通じて経営者の胸に秘めた想いを受けとめ絆をつなぐコンサルタント。案件発掘からディールの組成、クロージングまで導く仕事です。事業継承という企業の存続に関わる課題を、高度の専門性とビジネスパーソンとしての総合力でソリューションを提供していただきます。<br>
                                                    <br>
                                                    【主な業務内容】<br>
                                                    ・M&A対象企業の探索・提案・条件交渉<br>
                                                    ・企業評価と分析、レポート作成<br>
                                                    ・デューデリジェンス、ドキュメンテーションのサポート<br>
                                                    <br>
                                                    成長戦略として、M&Aを通して業容の拡大を図りたいと考えられている会社がある一方、「自分が引退した後の会社をどうやって維持しようか」と事業継承上の課題、悩みを持つ経営者様もいらっしゃいます。それぞれの経営者の胸に秘めた思いを引き出し「シナジー効果」「存続的な発展」「360度の可視」の3つの視点を組成していく仕事です。<br>
                                                    <br>
                                                    【多くの経営者と出会える面白さ】<br>
                                                    新潟県内のあらゆる業種・業態とのお客様のお手伝いをしていきます。まずは経営者の悩みに寄り添い、信頼を得ていくことが業務の中心になります。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>求める人材</th>
                                                <td>
                                                    【業界/職種未経験OK】<br>
                                                    <br>
                                                    ※経営者を対象とした法人営業、金融業界の知識や経験があれば活かせます。<br>
                                                    <br>
                                                    【歓迎する人物像】<br>
                                                    ・何か一つの事をやり遂げた経験のある方<br>
                                                    ・社会人として基本的な礼儀・マナーをみにつけている方<br>
                                                    ・仕事に対して誠実である方<br>
                                                    ・自制心のある方<br>
                                                    ・素直で勉強好きな方<br>
                                                    <br>
                                                    もちろんM&A仲介の経験がある方は大歓迎です！<br>
                                                    <br>
                                                    金融機関の出身者ならM&Aは誰もが魅力的と感じる領域です。経験豊富な社長の研修もありますので、わからない事は自ら調べ実践していく過程でキャッチアップしていきます。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>勤務地</th>
                                                <td>
                                                    新潟本社/新潟県新潟市中央区神道寺2-1-1<br>
                                                    ※マイカー通勤可
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>勤務時間</th>
                                                <td>
                                                    8:45～18:00<br>
                                                    ※残業月平均30時間以内
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>給与</th>
                                                <td>
                                                    年収400万から700万＋インセンティブ<br>
                                                    ※経験・能力を考慮の上、決定します
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>昇給・賞与</th>
                                                <td>
                                                    昇給/年1回（7月）<br>
                                                    賞与/年2回（6、12月）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>諸手当</th>
                                                <td>
                                                    交通費支給（会社規定有）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休日・休暇</th>
                                                <td>
                                                    年間休日120日以上<br>
                                                    ※週休二日制（土・日・祝）<br>
                                                    ※月1回土曜出社有<br>
                                                    夏季休暇、年末年始休暇、有給休暇、慶弔休暇
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>福利厚生</th>
                                                <td>
                                                    社会保険完備
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>採用プロセス</th>
                                                <td>
                                                    ▼Step1. 書類選考<br><br>
                                                    ▼Step2. 面接適性検査<br>
                                                    ※人柄を重視した面接です。あなたの意欲やビジョンをお話ください。<br>
                                                    ※履歴書・職務経歴書をお待ちください。<br><br>
                                                    ▼Step3. 内定<br>
                                                    ※応募から内定まで1ヶ月くらいです<br>
                                                    ※入社日はご相談に応じます。<br>
                                                    ※在職中の方も積極的にご応募ください。
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="p-career-item__btn">
                                        <div class="btn c-btn1 btn-11">
                                            <a href="<%- url %>/career_form"><span>この求人に応募する<i class="fas fa-chevron-right"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="p-career-item">
                            <div class="p-career-item__inner c-inner">
                                <div class="p-career-item__name">
                                    <img src="<%- dir %>/assets/img/career/career_logo_agent.png" alt="採用コンサルタント" class="pctb">
                                    <img src="<%- dir %>/assets/img/career/career_logo_agent_sp.png" alt="採用コンサルタント" class="sp">
                                </div>
                                <div class="p-career-item__thumb">
                                    <img src="<%- dir %>/assets/img/career/career_thumb_agent.png" alt="採用コンサルタント" class="pctb">
                                    <img src="<%- dir %>/assets/img/career/career_thumb_agent_sp.png" alt="採用コンサルタント" class="sp">
                                </div>
                                <div class="p-career-item__txt">
                                    <h3>これから特に必要とされる分野で活躍できるチャンス！</h3>
                                    <p>M&Aという決断が企業を譲渡する側、譲受する側双方にとって満足がいくように、幸せになるように、そしてこれまで気づかなかった企業の個性やポテンシャル＝才能がさらに開花するように、良質なM&Aを組成していくのが私たちの役目です。</p>
                                    <p>大きなやりがいを実感しながら仕事に取り組むことができます。オーナー経営者とのやりとりの中で、真実の瞬間に立ち会えることがこの仕事の醍醐味です。</p>
                                </div>
                                <div class="p-career-item__table">
                                    <table class="c-table c-table--vertical--sp">
                                        <tbody>
                                            <tr>
                                                <th>募集の背景</th>
                                                <td>
                                                    新潟県内で、世代を越えた、人と事業のコーディネートを行っている当社。今回は、M&Aコンサルタントとして、事業成長を担える新しい仲間を募集します。<br>
                                                    <br>
                                                    事業継承に悩む地域の優良企業の課題を解決するソリューションを提供します。後継者不足で悩む経営者も多いです。M&Aの業務を通じて、企業と新潟の活性化に大きく貢献できる仕事です。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>仕事の内容</th>
                                                <td>
                                                    M&Aを通じて経営者の胸に秘めた想いを受けとめ絆をつなぐコンサルタント。案件発掘からディールの組成、クロージングまで導く仕事です。事業継承という企業の存続に関わる課題を、高度の専門性とビジネスパーソンとしての総合力でソリューションを提供していただきます。<br>
                                                    <br>
                                                    【主な業務内容】<br>
                                                    ・M&A対象企業の探索・提案・条件交渉<br>
                                                    ・企業評価と分析、レポート作成<br>
                                                    ・デューデリジェンス、ドキュメンテーションのサポート<br>
                                                    <br>
                                                    成長戦略として、M&Aを通して業容の拡大を図りたいと考えられている会社がある一方、「自分が引退した後の会社をどうやって維持しようか」と事業継承上の課題、悩みを持つ経営者様もいらっしゃいます。それぞれの経営者の胸に秘めた思いを引き出し「シナジー効果」「存続的な発展」「360度の可視」の3つの視点を組成していく仕事です。<br>
                                                    <br>
                                                    【多くの経営者と出会える面白さ】<br>
                                                    新潟県内のあらゆる業種・業態とのお客様のお手伝いをしていきます。まずは経営者の悩みに寄り添い、信頼を得ていくことが業務の中心になります。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>求める人材</th>
                                                <td>
                                                    【業界/職種未経験OK】<br>
                                                    <br>
                                                    ※経営者を対象とした法人営業、金融業界の知識や経験があれば活かせます。<br>
                                                    <br>
                                                    【歓迎する人物像】<br>
                                                    ・何か一つの事をやり遂げた経験のある方<br>
                                                    ・社会人として基本的な礼儀・マナーをみにつけている方<br>
                                                    ・仕事に対して誠実である方<br>
                                                    ・自制心のある方<br>
                                                    ・素直で勉強好きな方<br>
                                                    <br>
                                                    もちろんM&A仲介の経験がある方は大歓迎です！<br>
                                                    <br>
                                                    金融機関の出身者ならM&Aは誰もが魅力的と感じる領域です。経験豊富な社長の研修もありますので、わからない事は自ら調べ実践していく過程でキャッチアップしていきます。
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>勤務地</th>
                                                <td>
                                                    新潟本社/新潟県新潟市中央区神道寺2-1-1<br>
                                                    ※マイカー通勤可
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>勤務時間</th>
                                                <td>
                                                    8:45～18:00<br>
                                                    ※残業月平均30時間以内
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>給与</th>
                                                <td>
                                                    年収400万から700万＋インセンティブ<br>
                                                    ※経験・能力を考慮の上、決定します
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>昇給・賞与</th>
                                                <td>
                                                    昇給/年1回（7月）<br>
                                                    賞与/年2回（6、12月）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>諸手当</th>
                                                <td>
                                                    交通費支給（会社規定有）
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>休日・休暇</th>
                                                <td>
                                                    年間休日120日以上<br>
                                                    ※週休二日制（土・日・祝）<br>
                                                    ※月1回土曜出社有<br>
                                                    夏季休暇、年末年始休暇、有給休暇、慶弔休暇
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>福利厚生</th>
                                                <td>
                                                    社会保険完備
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>採用プロセス</th>
                                                <td>
                                                    ▼Step1. 書類選考<br><br>
                                                    ▼Step2. 面接適性検査<br>
                                                    ※人柄を重視した面接です。あなたの意欲やビジョンをお話ください。<br>
                                                    ※履歴書・職務経歴書をお待ちください。<br><br>
                                                    ▼Step3. 内定<br>
                                                    ※応募から内定まで1ヶ月くらいです<br>
                                                    ※入社日はご相談に応じます。<br>
                                                    ※在職中の方も積極的にご応募ください。
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="p-career-item__btn">
                                        <div class="btn c-btn1 btn-11">
                                            <a href="<%- url %>/career_form"><span>この求人に応募する<i class="fas fa-chevron-right"></i></span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <% } %>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div><%# /.l-layout__contents %>

<div class="l-layout__contentBottom">
    <% if (!html) { %><?php get_template_part( 'components/content', 'bottom' ); ?><% } else { %><%- include('./components/content-bottom'); %><% } %>
</div>
<% if (!html) { %><?php get_template_part( 'components/content', 'footer' ); ?><% } else { %><%- include('./components/content-footer'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'drawer' ); ?><% } else { %><%- include('./components/content-drawer'); %><% } %>
<% if (!html) { %><?php get_footer();?><% } else { %><%- include('./_layouts/footer'); %><% } %>