<%- include('./_config/_config'); %>
<% title = 'タイトル' %>
<% page = 'staff' %>



<% if (!html) { %><?php get_header();?><% } else { %><%- include('./_layouts/header'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'header' ); ?><% } else { %><%- include('./components/content-header'); %><% } %>
<div class="l-layout__contentsTop">
    <div class="p-sub-mv">
        <h1>
            <span class="en">STAFF</span>
            <span class="ja">スタッフ紹介</span>
        </h1>
    </div>
</div>

<div class="l-layout__contents">
    <main class="l-layout__main">
        <div class="staff-manager">
            <div class="c-inner staff-manager__flex--pc">
                <div class="staff-manager__img c-img-square">
                    <img src="<%- dir %>/assets/img/about/about-message-img.png" alt="">
                </div>
                <div class="staff-manager__txt">
                    <div class="c-name">
                        <span class="c-name__position">代表取締役</span>
                        <span class="c-name__ja">小川 潤也</span>
                        <span class="c-name__en">Junya Ogawa</span>
                    </div>
                    <p>
                        様々な分野のプロフェッショルが集い、新潟で唯一無二の事業をつくり20年以上。
                    </p>
                    <p>
                        「情報」がサービスの提供手段なので、守秘義務の制約の中で協力し、和気藹々と助け合いながら、皆が仕事に取り組んでいます。
                    </p>
                    <p>
                        個性はそれぞれありますが、共通しているのは仕事に真面目に取り組む姿勢。お客様のために、求職者のために一生懸命に知恵を絞り、汗をかき、努力を惜しまない、あきらめない、そんな姿をよく目にします。
                    </p>
                    <p>
                        来客があれば手の空いている人が迎えにいき、電話が鳴れば競って出るのが我が社のメンバーです。仕事は3つの事業部によって異なりますが、飲み会となると分け隔てなく飲んで話して楽しんでいます。
                    </p>
                    <p>
                        どうぞ、絆コーポレーションの仲間をよろしくお願いします。
                    </p>
                </div>
            </div>
        </div>
        <section id="advisory">
            <div class="staff-list -advisory">
                <div class="staff-list__title">
                    <h2>
                        <img src="<%- dir %>/assets/img/staff/staff_title_advisory.png" alt="アドバイザリー事業部">
                    </h2>
                </div>
                <div class="staff-list__inner c-inner">
                    <div class="staff-list__body">
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/ad_ando.png" alt="安藤 壮一">
                            </div>
                            <div class="item__txt">
                                <span class="ja">安藤 壮一</span>
                                <span class="en">Soichi Ando</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/ad_saizsu.png" alt="西濟 美菜子">
                            </div>
                            <div class="item__txt">
                                <span class="ja">西濟 美菜子</span>
                                <span class="en">Minako Saizsu</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="staff-list -agent">
                <div class="staff-list__title">
                    <h2>
                        <img src="<%- dir %>/assets/img/staff/staff_title_agent.png" alt="エージェント事業部">
                    </h2>
                </div>
                <div class="staff-list__inner c-inner">
                    <div class="staff-list__body">
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/agent_yamada.png" alt="山田 一乃">
                            </div>
                            <div class="item__txt">
                                <span class="ja">山田 一乃</span>
                                <span class="en">Kazuno Yamada</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/agent_matuzawa.png" alt="松澤 優子">
                            </div>
                            <div class="item__txt">
                                <span class="ja">松澤 優子</span>
                                <span class="en">Yuko Matuzawa</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/agent_yamamoto.png" alt="山元 良実">
                            </div>
                            <div class="item__txt">
                                <span class="ja">山元 良実</span>
                                <span class="en">Yoshimi Yamamoto</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/agent_hirota.png" alt="広田 裕一">
                            </div>
                            <div class="item__txt">
                                <span class="ja">広田 裕一</span>
                                <span class="en">Yuichi Hirota</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/agent_tsuchida.png" alt="土田 茜">
                            </div>
                            <div class="item__txt">
                                <span class="ja">土田 茜</span>
                                <span class="en">Akane Tsuchida</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="staff-list -care">
                <div class="staff-list__title">
                    <h2>
                        <img src="<%- dir %>/assets/img/staff/staff_title_care.png" alt="ケアスタッフ事業部">
                    </h2>
                </div>
                <div class="staff-list__inner c-inner">
                    <div class="staff-list__body">
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_nakajima.png" alt="中嶋 剛志">
                            </div>
                            <div class="item__txt">
                                <span class="ja">中嶋 剛志</span>
                                <span class="en">Takashi Nakajima</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_makino.png" alt="牧野 志帆">
                            </div>
                            <div class="item__txt">
                                <span class="ja">牧野 志帆</span>
                                <span class="en">Shiho Makino</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_kaneko.png" alt="金子 直樹">
                            </div>
                            <div class="item__txt">
                                <span class="ja">金子 直樹</span>
                                <span class="en">Naoki Kaneko</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_sato.png" alt="佐藤 泰治">
                            </div>
                            <div class="item__txt">
                                <span class="ja">佐藤 泰治</span>
                                <span class="en">Yassuji Sato</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_ando.png" alt="安達 祥子">
                            </div>
                            <div class="item__txt">
                                <span class="ja">安達 祥子</span>
                                <span class="en">Sachiko Ando</span>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item__img">
                                <img src="<%- dir %>/assets/img/staff/care_yokoi.png" alt="横井 文枝">
                            </div>
                            <div class="item__txt">
                                <span class="ja">横井 文枝</span>
                                <span class="en">Fumie Yokoi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div><%# /.l-layout__contents %>

<div class="l-layout__contentBottom">
    <% if (!html) { %><?php get_template_part( 'components/content', 'bottom' ); ?><% } else { %><%- include('./components/content-bottom'); %><% } %>
</div>
<% if (!html) { %><?php get_template_part( 'components/content', 'footer' ); ?><% } else { %><%- include('./components/content-footer'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'drawer' ); ?><% } else { %><%- include('./components/content-drawer'); %><% } %>
<% if (!html) { %><?php get_footer();?><% } else { %><%- include('./_layouts/footer'); %><% } %>