<%- include('./_config/_config'); %>
<% title = 'タイトル' %>
<% page = 'privacy' %>



<% if (!html) { %><?php get_header();?><% } else { %><%- include('./_layouts/header'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'header' ); ?><% } else { %><%- include('./components/content-header'); %><% } %>
<div class="l-layout__contentsTop">
    <div class="p-sub-mv">
        <h1>
            <span class="en">PRIVACY POLICY</span>
            <span class="ja">プライバシーポリシー</span>
        </h1>
    </div>
</div>

<div class="l-layout__contents">
    <main class="l-layout__main">
        <section>
            <div class="privacy-content">
                <div class="privacy-content__inner c-inner--l">
                    <div class="privacy-content__body">
                        <div class="c-inner">
                            <h2>プライバシーポリシー</h2>
                            <p>株式会社絆コーポレーション(以下当社)では、皆様からお預かりした個人情報の保護を最重要課題と位置づけております。その実現のため、職業安定法や個人情報保護法の遵守はもちろんのこと、社内での保護管理体制を徹底し、個人情報の保護並びに情報守秘に最大限の努力をいたします。</p>
                            <p>
                                ■個人情報の定義<br>
                                当社では個人情報を、氏名・生年月日・住所・電話番号・携帯電話番号・Emailアドレス・勤務先等、複数の組み合わせにより個人を識別できる情報を定義します。
                            </p>
                            <p>
                                ■個人情報の収集および利用目的<br>
                                個人情報の収集はご本人様から必要な範囲でのみ、適法かつ公正に収集させていただきます。お預かりした個人情報は、適切な職業紹介サービスのサポートを利用目的とし、それ以外の目的で使用することはございません。
                            </p>
                            <p>
                                ■個人情報の利用<br>
                                お預かりした個人情報は、ご本人様の承諾なしには第三者に対して開示および提供はいたしません。ただし、ご本人様人の生命・身体に影響を及ぼす場合でご本人様の同意を得ることが困難な場合や、法令により提供を求められた場合はその限りではありません。
                            </p>
                            <p>
                                ■個人情報の開示<br>
                                お預かりした個人情報について、ご本人様よりお申し出のあった場合、法令に基づき個人情報を開示いたします。
                            </p>
                            <p>
                                ■個人情報の修正・削除<br>
                                お預かりした個人情報の修正、削除についてご本人様よりお申し出があった場合は、法令に基づきすみやかに修正・削除をいたします。
                            </p>
                            <p>
                                ■個人情報の管理<br>
                                当社では、個人情報を正確かつ最新の状態で管理するよう務めております。社内管理体制の整備、社員教育の徹底を行うとともに、不正アクセス、紛失・破壊・改ざん及び漏洩等に対し、適切な予防および是正処置を行います。
                            </p>
                            <p>
                                ■外部委託<br>
                                業務上の必要に応じて機密保持契約を締結した委託企業に個人情報の取り扱いを委託する場合があります。この場合、委託先は個人情報保護管理体制の水準を確保した企業のみ剪定いたします。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div><%# /.l-layout__contents %>

<div class="l-layout__contentBottom">
    <% if (!html) { %><?php get_template_part( 'components/content', 'bottom' ); ?><% } else { %><%- include('./components/content-bottom'); %><% } %>
</div>
<% if (!html) { %><?php get_template_part( 'components/content', 'footer' ); ?><% } else { %><%- include('./components/content-footer'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'drawer' ); ?><% } else { %><%- include('./components/content-drawer'); %><% } %>
<% if (!html) { %><?php get_footer();?><% } else { %><%- include('./_layouts/footer'); %><% } %>