<%- include('./_config/_config'); %>
<% title = 'タイトル' %>
<% page = 'single' %>



<% if (!html) { %><?php get_header();?><% } else { %><%- include('./_layouts/header'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'header' ); ?><% } else { %><%- include('./components/content-header'); %><% } %>
<div class="l-layout__contentsTop">
</div>

<div class="l-layout__contents">
    <main class="l-layout__main">
        <% if (!html) { %>
            <?php if ( have_posts() ) : ?>
                <?php while ( have_posts() ) : the_post(); ?>
                    <article class="p-post">
                        <div class="p-post__img">
                            <?php if ( has_post_thumbnail() ) : ?>
                                <?php the_post_thumbnail(); ?>
                            <?php else: ?>
                                <img src="<%- dir %>/assets/img/post_thumb_placeholder.png" alt="">
                            <?php endif; ?>
                        </div>
                        <div class="c-inner">
                            <header>
                                <h1><?php the_title(); ?></h1>
                                <div class="meta">
                                    <div class="date"><?php the_date('Y.m.d'); ?></div>
                                    <div class="cat">
                                        <?php
                                        $categories = get_the_category();
                                        if ( $categories ) {
                                            foreach ( $categories as $category ) {
                                                echo '<span>'.$category->name.'</span>';
                                            }
                                        }
                                        ?>
                                    </div>
                                </div>
                            </header>
                            <?php the_content(); ?>
                        </div>
                    </article>
                <?php endwhile; ?>
            <?php endif; ?>
        <% } else { %>
            <article class="p-post">
                <div class="c-inner">
                    <header>
                        <h1>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h1>
                        <div class="meta">
                            <div class="date">2020.11.01</div>
                            <div class="cat">
                                <span>M&amp;A</span><span>基本</span><span>秘密保持</span>
                            </div>
                        </div>
                    </header>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <h2>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h2>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <ol>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                    </ol>
                    <h3>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h3>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <ul>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                    </ul>
                    <h2>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h2>
                    <h4>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h4>
                    <p>絆コーポレーションは「アドバイザリー」「エージェント」「ケアスタッフ」3つの事業部を展開。M＆Aや事業継承、各種人材サービスを通し、新潟の人と事業の絆をつなぐことをミッションとして地域貢献に携わっています。</p>
                    <ol>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                        <li>情報漏洩がM＆Aを破断にする！秘密保持の極意とは</li>
                    </ol>
                    <br><br>
                    <hr>
                </div>
            </article>
            <% } %>
            <div class="p-relatedPost">
                <div class="c-inner--l">
                    <div class="p-relatedPost__head">
                        <h2 class="title">
                            <span class="en">RELATED POST</span>
                            <span class="ja">関連記事</span>
                        </h2>
                    </div>
                    <% if (!html) { %>
                        <?php
                        $args = array( 
                            'post_type' => 'post',
                            'post_status' => 'publish',
                            'posts_per_page' => 4,
                        );
                        $the_query = new WP_Query($args); if($the_query->have_posts()):
                        ?>
                        <div class="p-relatedPost__list">
                            <?php while ($the_query->have_posts()): $the_query->the_post(); ?>
                                <article class="p-newsItem">
                                    <a href="<?php the_permalink(); ?>">
                                        <div class="p-newsItem__img">
                                            <?php if ( has_post_thumbnail() ) : ?>
                                                <?php the_post_thumbnail(); ?>
                                            <?php else: ?>
                                                <img src="<%- dir %>/assets/img/news/news_thumb_placeholder.png" alt="">
                                            <?php endif; ?>
                                        </div>
                                        <div class="p-newsItem__txt">
                                            <div class="cat">
                                                <?php
                                                $categories = get_the_category();
                                                if ( $categories ) {
                                                    foreach ( $categories as $category ) {
                                                        echo '<span>'.$category->name.'</span>';
                                                    }
                                                }
                                                ?>
                                            </div>
                                            <h1 class="title"><?php the_title(); ?></h1>
                                            <div class="date"><?php the_time('Y.m.d'); ?></div>
                                        </div>
                                    </a>
                                </article>
                            <?php endwhile; ?>
                        </div>
                        <?php wp_reset_postdata(); ?>
                        <?php else: ?>
                        <!-- 投稿が無い場合の処理 -->
                        <?php endif; ?>
                    <% } else { %>
                    <div class="p-relatedPost__list">
                        <% for (var i = 0; i < 4; i++) { %>
                            <article class="p-newsItem">
                                <a href="">
                                    <div class="p-newsItem__img">
                                        <img src="<%- dir %>/assets/img/news/news_thumb_placeholder.png" alt="">
                                    </div>
                                    <div class="p-newsItem__txt">
                                        <div class="cat">
                                            <span>M&amp;A</span><span>基本</span><span>秘密保持</span>
                                        </div>
                                        <h1 class="title">情報漏洩がM＆Aを破断にする！秘密保持の極意とは</h1>
                                        <div class="date">2020.12.01</div>
                                    </div>
                                </a>
                            </article>
                        <% } %>
                    </div>
                    <% } %>
                </div>
            </div>
        </main>
</div><%# /.l-layout__contents %>

<div class="l-layout__contentBottom">
    <% if (!html) { %><?php get_template_part( 'components/content', 'bottom' ); ?><% } else { %><%- include('./components/content-bottom'); %><% } %>
</div>
<% if (!html) { %><?php get_template_part( 'components/content', 'footer' ); ?><% } else { %><%- include('./components/content-footer'); %><% } %>
<% if (!html) { %><?php get_template_part( 'components/content', 'drawer' ); ?><% } else { %><%- include('./components/content-drawer'); %><% } %>
<% if (!html) { %><?php get_footer();?><% } else { %><%- include('./_layouts/footer'); %><% } %>