<div class="l-drawerClose u-drawer_close">
    <div class="btn">
        <img src="<%- dir %>/assets/img/btn_close.png" alt="閉じる">
    </div>
</div>
<div class="l-drawer u-drawer">
    <div class="p-drawer">
        <ul class="p-drawer__menu">
            <li><a href="<%- url %>/service">事業紹介</a></li>
            <li><a href="<%- url %>/about">会社概要・アクセス</a></li>
            <li><a href="<%- url %>/staff">スタッフ紹介</a></li>
            <li><a href="<%- url %>/career">採用情報</a></li>
        </ul>
        <div class="p-drawer__bottom">
            <dl>
                <dt>新潟</dt>
                <dd><a href="tel:025-240-7033">025-240-7033</a></dd>
            </dl>
            <dl>
                <dt>東京</dt>
                <dd><a href="tel:03-5537-3177">03-5537-3177</a></dd>
            </dl>
            <div class="btn">
                <a href="<%- url %>/contact"><span>お問い合わせ</span></a>
            </div>
        </div>
    </div>
</div>