<footer class="l-layout__footer">
    <div class="p-footer">
        <div class="p-footer__inner">
            <div class="p-footer__left">
                <div class="p-footer__logo">
                    <a href="<%- url %>/"><img src="<%- dir %>/assets/img/footer_logo.png" alt=""></a>
                </div>
                <div class="p-footer__menu">
                    <ul>
                        <li><a href="<%- url %>/service">事業紹介</a></li>
                        <li><a href="<%- url %>/about">会社概要・アクセス</a></li>
                        <li><a href="<%- url %>/staff">スタッフ</a></li>
                        <li><a href="<%- url %>/career">採用情報</a></li>
                    </ul>
                </div>
            </div>
            <div class="p-footer__right">
                <div class="p-footer__tel">
                    <dl>
                        <dt>新潟</dt>
                        <dd><a href="tel:025-240-7033">025-240-7033</a></dd>
                    </dl>
                    <dl>
                        <dt>東京</dt>
                        <dd><a href="tel:03-5537-3177">03-5537-3177</a></dd>
                    </dl>
                </div>
                <div class="p-footer__btn">
                    <div class="btn">
                        <a href="<%- url %>/contact"><span>お問い合わせ</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>